
 <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Dashboard </h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                                <li class="breadcrumb-item active">Staff</li>
                            </ol>
                           <!--  <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button> -->
                            <a class="btn btn-info d-none d-lg-block m-l-15" routerLink="/staff/new"><i class="fa fa-plus-circle"></i>  Add New </a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Info box -->
                <!-- ============================================================== -->
                 <div class="row">
                    <!-- ============================================================== -->
                    <!-- Comment widgets -->
                    <!-- ============================================================== -->
                   
                    <!-- ============================================================== -->
                    <!-- Table -->
                    <!-- ============================================================== -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body ">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Staff Members</h5>
                                       <!--  <h6 class="card-subtitle">Check the monthly sales </h6> -->
                                    </div>
                                    <div class="ml-auto">                                       
                                        <form class="app-search ">
                                          <input type="text" placeholder="Search..." class="form-control form-control1 " (keyup)="searchEquipment($event)" [(ngModel)]="searchTerm"
                                            name="searchTerm" >
                                         
                                        </form>                                      
                                    </div>
                                </div>
                            </div>
                            
                            <div class="table-responsive ">
                              <div [ngBusy]="busy"></div>
                              <table class="table table-hover" #mf="mfDataTable"
                                                              [mfData]="items"
                                                              [mfRowsOnPage]="rowsOnPage"
                                                              [mfActivePage]="activePage"
                                                              [(mfSortBy)]="sortBy"
                                                              [(mfSortOrder)]="sortOrder"
                                                              [mfIsServerPagination]="true"
                                                              [(mfAmountOfRows)]="itemsTotal"
                                                              (mfOnPageChange)="onPageChange($event)"
                                                              (mfSortOrderChange)="onSortOrder($event)"  >
                                <thead>
                                  <tr>
                                   <th> <mfDefaultSorter by="firstName">Name</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="lastName">Last Name</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                                  
                                    <th>User Type</th>
                                    <th class="center-align">Edit</th>
                                    <th class="center-align">Delete</th>
                                    <!-- <th class="center-align">Active</th> -->
                                   </tr>
                                </thead>
                                <tbody *ngIf="mf.data.length > 0">
                                  <ng-template ngFor let-item [ngForOf]="mf.data" let-i="index">
                                    <tr >
                                      <td class="capitalize">
                                        <a routerLink="/staff/{{item._id}}/edit">
                                                          <span class="list-enq-name">{{item.firstName }} </span>
                                                        </a>
                                      </td>
                                      <td> {{item.lastName}}</td>
                                      <td> {{item.email}}</td>
                                      <td>{{USERTYPES[item.userType]}}</td>
                                      <td class="center-align">
                                        <a routerLink="/staff/{{item._id}}/edit"  data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil text-inverse m-r-10"></i></a>
                                      </td>
                                      <td class="center-align">
                                        <a href="javascript: void();" *ngIf="LoggedUser.id!=item._id" (click)="removeItem(item)"  data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-close text-danger"></i></a>
                                      </td>
                                     <!--  <td class="center-align">
                                        <div class="switch">
                                          <label>
                                                            <input type="checkbox" id="active"
                                                              [(ngModel)]="item.status" name="status" (change)="toggleStatus(item)">
                                                            <span class="lever"></span>
                                                          </label>
                                        </div>
                                      </td> -->
                                      
                                    </tr>
                                  </ng-template>
                                </tbody>
                                <tfoot >
                                  <tr>
                                    <td colspan="8">
                                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]" class="footer-page"></mfBootstrapPaginator>
                                    </td>
                                  </tr>
                                </tfoot>
                                <tfoot *ngIf="mf.data.length === 0">
                                  <tr>
                                    <td colspan="8" class="text-center">
                                      <label class="record-label">No record found </label>
                                    </td>
                                  </tr>
                                </tfoot>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>

              </div>
            </div>


<!-- Modal Structure -->
<!-- <div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">

  <div class="modal-content">
    <h2>Are you sure that you want to delete this staff ?</h2>
    <p  style="margin-top: 30px;"> Once you delete a staff, you cannot reverse it back!</p>
  </div>

  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancel</a>
    <a class="waves-effect waves-light btn teal darken-1" (click)="removeItem()">Delete</a>
  </div>
</div>
 -->